<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Хохо, хаха</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/MVC/Scripts/script.js"></script>
</head>
<body>
    Вот <a href="https://vk.com/qwertyfire">Настя</a>:
    <br />
    <img id="image_selecror" src="https://pp.vk.me/c627823/v627823499/2af5f/T0auwioT9Y4.jpg" width="200" style="cursor:pointer;"/>
    <h3>хехехе</h3>
</body>
</html>